@import "../variables.scss";

.controls.grade-easy {
  color: $easy-grade-color-fg;
  background-color: $easy-grade-color-bg;
}

.controls.grade-medium {
  color: $medium-grade-color-fg;
  background-color: $medium-grade-color-bg;
}

.controls.grade-hard {
  color: $hard-grade-color-fg;
  background-color: $hard-grade-color-bg;
}
