@import "../variables.scss";

.sticky-evaluation {
  position: sticky;
  top: 0;
}

.evaluation.grade-easy {
  background-color: $easy-grade-color;
}

.evaluation.grade-medium {
  background-color: $medium-grade-color;
}

.evaluation.grade-hard {
  background-color: $hard-grade-color;
}
