@import "../variables.scss";

.sticky-evaluation {
  position: sticky;
  top: 0;
  z-index: $sticky-z;
}

.evaluation.grade-easy {
  background-color: $easy-grade-color;
}

.evaluation.grade-medium {
  background-color: $medium-grade-color;
}

.evaluation.grade-hard {
  background-color: $hard-grade-color;
}

.teams-mini .button.team.team-a {
  background-color: rgba(255, 0, 0, 0.5);
}

.teams-mini .button.team.team-a.is-primary {
  background-color: red;
}

.teams-mini .button.team.team-b {
  background-color: rgba(0, 255, 0, 0.5);
}

.teams-mini .button.team.team-b.is-primary {
  background-color: green;
}

.teams-mini .button.team.team-c {
  background-color: rgba(0, 0, 255, 0.5);
}

.teams-mini .button.team.team-c.is-primary {
  background-color: blue;
}

.team-member.team-a {
  background-color: white;
  color: red;
}

.team-member.team-b {
  background-color: white;
  color: green;
}

.team-member.team-c {
  background-color: white;
  color: blue;
}
