@import "../variables.scss";

.button.grade-easy {
  background-color: $easy-grade-color;
}

.button.grade-medium {
  background-color: $medium-grade-color;
}

.button.grade-hard {
  background-color: $hard-grade-color;
}
