$border-radius: 15px;
$duration: 1.5s;
@import "bulma/sass/utilities/_all.sass";

$soil-color: #916443;

.grid {
  .seat {
    color: $white;
  }

  .plant-pot {
    .pot {
      color: $soil-color;
    }
    .plant {
      color: $turquoise;
    }
  }

  td.tl-eee,
  td.tl-eoe {
    border-top-left-radius: $border-radius;
  }

  td.tr-eee,
  td.tr-eoe {
    border-top-right-radius: $border-radius;
  }

  td.br-eee,
  td.br-eoe {
    border-bottom-right-radius: $border-radius;
  }

  td.bl-eee,
  td.bl-eoe {
    border-bottom-left-radius: $border-radius;
  }

  td.needs-met {
    animation: rotateAnim 1.5s ease-in-out infinite alternate;
  }
}

@keyframes rotateAnim {
  from {
    transform: scale(0.9) rotate(-3deg);
  }
  to {
    transform: scale(0.9) rotate(3deg);
  }
}
