$border-radius: 15px;
$duration: 1.5s;

.grid {
  td.tl-eee,
  td.tl-eoe {
    border-top-left-radius: $border-radius;
  }

  td.tr-eee,
  td.tr-eoe {
    border-top-right-radius: $border-radius;
  }

  td.br-eee,
  td.br-eoe {
    border-bottom-right-radius: $border-radius;
  }

  td.bl-eee,
  td.bl-eoe {
    border-bottom-left-radius: $border-radius;
  }

  td {
    transition: background-color $duration ease-in-out,
      color $duration ease-in-out;
  }
}
