@import "bulma/sass/utilities/_all.sass";

// z-levels
$sticky-z: 30;

// pastel colors from https://www.schemecolor.com/beautiful-light-pastels-color-scheme.php
$sc-nyanza: #defde0;
$sc-water: #def3fd;
$sc-lavender-web: #f0defd;

$easy-grade-color: $sc-nyanza;
$medium-grade-color: $sc-water;
$hard-grade-color: $sc-lavender-web;
